* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: Roboto, Arial, Helvetica, sans-serif;
     background-color: whitesmoke;
}

header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgba(0, 0, 0, .9);
     color: whitesmoke;
     padding: 2rem;
     position: fixed;
     width: 100%;
     backdrop-filter: blur(4px);
}

header h1 {
     font-family: Oswald;
     font-weight: 700;
     font-size: 3rem;
     font-variant: small-caps;
     margin-bottom: .5rem;
     text-align: center;
}
header h2 {
     font-size: 1rem;
     text-transform: capitalize;
     font-weight: 400;
}

main {
     max-width: 600px;
     border-left: 1px solid rgba(0, 0, 0, .3);
     border-right: 1px solid rgba(0, 0, 0, .3);
     margin: auto;
     box-shadow: 0 0 38px 12px rgba(0, 0, 0, .1);
     padding-top: 10rem;
}

section p {
     font-size: 1.2em;
     line-height: 1.5em;
}

main section {
     padding: 2rem;
     text-align: center;
}

.section-two {
     text-align: left;
     padding-left: 1rem;
     margin-block: 1rem;
}
.section-two article {
     background-color: rgba(0, 0, 0, .3);
     width: max-content;
     padding: 2rem;
     color: whitesmoke;
     border-radius: 8px;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
     line-height: 1.6em;
}
.bg-one {
     background-image: url('../source/background001.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     box-shadow: inset 0 0 20px 12px rgba(0, 0, 0, .35);
}

.bg-two {
     background-image: url("../source/background002.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     box-shadow: inset 0 0 20px 12px rgba(0, 0, 0, .35);
}
.section-five {
     text-align: end;
     display: flex;
     justify-content: end;
     margin-block: 1rem;
}
.section-five article {
     background-color: rgba(0, 0, 0, .35);
     backdrop-filter: blur(3px);
     width: max-content;
     padding: 2rem;
     border-radius: 8px;
     color: whitesmoke;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
     line-height: 1.6em;
}

footer {
     background-color: black;
     color: whitesmoke;
     padding: 1rem;
     text-align: center;
     font-size: .9rem;
}
footer a {
     color: white;
     text-decoration: none;
     transition-duration: 0.3s;
     transition-property: all;
     text-decoration-color: transparent;
}
footer a:hover {
     text-decoration: underline;
     color: rgb(77, 77, 236);
     text-decoration-color: rgb(77, 77, 236);
}